<div class="row mb-3">
	<div class="col">
		<div class="card bg-100 shadow-none border py-2">
			<div class="row gx-0 flex-between-center">
				<div class="col-sm-auto d-flex align-items-center"><img class="ms-n2" src="../assets/img/illustrations/crm-bar-chart.png" alt="" width="90">
					<div>
						<h6 class="text-primary fs-10 mb-0">
							<%= link_to teams_path, class: "text-decoration-none text-muted mb-2 d-block" do %>
        				<i class="bi bi-arrow-left"></i> Back to Teams
      				<% end %>
						</h6>
						<h4 class="text-primary fw-bold mb-0">
							Team:
							<span class="text-info fw-medium"><%= @team.display_name %></span>
						</h4>
					</div>
				</div>
				<div class="col-md-auto p-3">
					<%= link_to "Edit Team", edit_team_path(@team), class: "btn btn-secondary btn-sm btn-outline" %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row mb-3">
  <div class="col-4">
    <%= turbo_frame_tag "affiliations_card" do %>
      <%= render "affiliations/affiliations_card", team: @team %>
    <% end %>
  </div>
  <div class="col-4">Colors</div>
  <div class="col-4">Styles</div>
</div>

<!-- Affiliation Modal -->
<%= turbo_frame_tag "affiliation_modal" %>
