<div class="row mb-3">
	<div class="col-12">
		<div class="card bg-100 shadow-none border mb-0">
			<div class="card-body p-0">
				<div class="row gx-0 p-2 pb-0 mb-0 flex-between-center" id="header-top">
					<div class="col-auto">
						<div>
							<h6 class="fs-10 mb-0">
								<% if params[:league_id].nil? %>
									<%= link_to teams_path, class: "text-decoration-none text-muted mb-2 d-block" do %>
										<i class="bi bi-arrow-left"></i> Back to Teams
									<% end %>
								<% else %>
									<%= link_to league_path(params[:league_id]), class: "text-decoration-none text-muted mb-2 d-block" do %>
										<i class="bi bi-arrow-left"></i> Back to League
									<% end %>
								<% end %>
							</h6>
							<h4 class="text-primary fw-bold mb-0">
								Team:
								<span class="text-info fw-medium"><%= @team.display_name %></span>
							</h4>
						</div>
					</div>
					<div class="col-auto">
						<%= link_to "Edit Team", edit_team_path(@team), class: "btn btn-secondary btn-sm btn-outline" %>
					</div>
				</div>
				<div class="row gx-0 p-2 pt-0" id="header-info">
					<div class="col-3 text-start">
						<h6 class="text-muted fs-10 mb-0">
							<%= @team.location %>
						</h6>
					</div>
					<div class="col-6 text-center">
						<h6 class="text-muted fs-10 mb-0">
							<%= @team.name %>
							<% unless @team.womens_name.blank? %>
							<span class="text-info">|</span> <%= @team.womens_name %>
							<% end %>	
						</h6>
					</div>
					<div class="col-3 text-end">
						<h6 class="text-info fs-10 mb-0">
							<% if @team.brand_info.blank? %>
								<%= link_to "Brand Search", @team.brand_search_query, target: "_new" %>
							<% else %>
								<%= link_to "Brand Info >", @team.brand_info %>
						<% end %>
					</h6>
					</div>
				</div>
				<% if false %>
					<div class="row gx-0 p-2 bg-700 text-200" id="header-toolbar">
						<div class="col-4 text-200 text-start"><!-- left admin controls --></div>
						<div class="col-4 text-200 text-center"><!-- center admin controls --></div>
						<div class="col-4 text-200 text-end"><!-- right admin controls --></div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="row mb-3">
  <div class="col-4">
    <%= turbo_frame_tag "affiliations_card" do %>
      <%= render "affiliations/affiliations_card", team: @team %>
    <% end %>
  </div>
  <div class="col-4">
    <%= turbo_frame_tag "colors_card" do %>
      <%= render "colors/colors_card", team: @team %>
    <% end %>
  </div>
  <div class="col-4">
    <%= turbo_frame_tag "styles_card" do %>
      <%= render "styles/styles_card", team: @team %>
    <% end %>
  </div>
</div>

<!-- Affiliation Modal -->
<%= turbo_frame_tag "affiliation_modal" %>

<!-- Color Modal -->
<%= turbo_frame_tag "color_modal" %>

<!-- Style Modal -->
<%= turbo_frame_tag "style_modal" %>
