<%= form_with(model: conference, local: true) do |form| %>
  <% if conference.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(conference.errors.count, "error") %> prohibited this conference from being saved:</h4>
      <ul class="mb-0">
        <% conference.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :league_id, "League", class: "form-label" %>
      <%= form.collection_select :league_id, League.all.order(:sport, :name), :id, :name,
          { prompt: "Select a league" }, class: "form-select", required: true %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :abbr, "Abbreviation", class: "form-label" %>
      <%= form.text_field :abbr, class: "form-control", required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control", required: true %>
    </div>
  </div>

  <div class="d-flex justify-content-end gap-2">
    <%= link_to "Cancel", conferences_path, class: "btn btn-secondary" %>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
