<div class="row mb-3">
	<div class="col-4 text-center">
		<h6>Upcoming Games</h6>
	</div>
	<div class="col-4 text-center">
		<h6>Current Games</h6>
	</div>
	<div class="col-4 text-center">
		<h6>Completed Games</h6>
	</div>
</div>

<div class="row mb-3">
	<div class="col-12">
		<h6>Latest Post</h6>
	</div>
</div>

<div class="row mb-3">
	<div class="col-9">

		<div class="row mb-3">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h6>Upcoming Games</h6>
					</div>
					<div class="card-body p-0">
						<div class="table-responsive scrollbar">
							<table class="table table-sm fs-10">
								<% @event.games.upcoming.earliest_first.each do |game| %>
									<tr>
										<td><%= game.starts_at.in_time_zone(current_timezone).strftime("%a. %b %d, %Y, %-I:%M %P") %></td>
										<th>
											<%= link_to game do %>
												<%= game.title %>
											<% end %>
										</th>
										<td class="text-center px-2 align-middle <%= game.away_style %> fw-semi-bold" style="width: 20%;">
											<%= game.away_team.display_location %>
										</td>
										<td class="bg-200 fw-semi-bold align-middle text-center">vs</td>
										<td class="text-center px-2 <%= game.home_style %> fw-semi-bold" style="width: 20%;">
											<%= game.home_team.display_location %>
										</td>
										<td class="text-center"><%= game.broadcast_network %></td>
									</tr>
								<% end %>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h6>Completed Games</h6>
					</div>
					<div class="card-body p-0">
						<div class="table-responsive scrollbar">
							<table class="table table-sm fs-10">
								<% @event.games.completed.latest_first.each do |game| %>
									<% score = game.scores.order(period: :desc).first %>
									<tr>
										<td><%= game.starts_at.in_time_zone(current_timezone).strftime("%m/%d/%Y") %></td>
										<th>
											<%= link_to game do %>
												<%= game.title %>
											<% end %>
										</th>
										<td class="text-center px-2 align-middle <%= game.away_style %> fw-semi-bold" style="width: 20%;">
											<%= game.away_team.display_location %>
										</td>
										<td class="bg-600 text-200 fw-semi-bold text-center align-middle"><%= score.away_total %></td>
										<td class="bg-200 fw-semi-bold align-middle text-center">vs</td>
										<td class="bg-600 text-200 fw-semi-bold text-center align-middle"><%= score.home_total %></td>
										<td class="text-center px-2 <%= game.home_style %> fw-semi-bold" style="width: 20%;">
											<%= game.home_team.display_location %>
										</td>
										<td class="text-end"><%= link_to "Box Score", game.score_url, target: :blank %></td>
									</tr>
								<% end %>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>