
<!-- Shiny heder -- TODO: replace with version from game#show? -->
<div class="row mb-3">
	<div class="col-12">
		<div class="card bg-100 shadow-none border mb-0">
			<div class="card-body p-1 pb-0">
				<div class="row gx-0 p-2 pb-0 mb-0 flex-between-center" id="header-top">
					<div class="col-auto ps-2">
						<div>
							<h6 class="fs-10 mb-0">
								<%= link_to events_path, class: "text-decoration-none text-muted mb-1 d-block" do %>
									<i class="bi bi-arrow-left" data-fa-transform="shrink-4 down-1"></i> Back to Events
								<% end %>
							</h6>
							<h4 class="text-primary fw-bold mb-0">
								Event:
								<span class="text-info fw-medium"><%= @event.title %></span>
							</h4>
						</div>
					</div>
					<div class="col-auto">
						
					</div>
				</div>
				<div class="row gx-0 p-2" id="header-info">
					<div class="col-3 text-start">
						<h6 class="text-muted fs-10 mb-0">
							<% if @event.upcoming? %>
								<span class="badge bg-info ms-2">Upcoming</span>
							<% elsif @event.in_progress? %>
								<span class="badge bg-success ms-2">In Progress</span>
							<% else %>
								<span class="badge bg-secondary ms-2">Completed</span>
							<% end %>
						</h6>
					</div>
					<div class="col-6 text-center">
						<h6 class="text-muted fs-10 mb-0 pt-1">
							<%= @event.start_date.strftime("%B %d, %Y") %>
							-
							<%= @event.end_date.strftime("%B %d, %Y") %>
						</h6>
					</div>
					<div class="col-3 text-end"></div>
				</div>
				<% if false %>
					<div class="row gx-0 p-2 bg-700 text-200" id="header-toolbar">
						<div class="col-4 text-200 text-start"><!-- left admin controls --></div>
						<div class="col-4 text-200 text-center"><!-- center admin controls --></div>
						<div class="col-4 text-200 text-end"><!-- right admin controls --></div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<!-- game cards banner -->
<div class="row mt-4 mb-1">
	<% @banner_rows.headers.each do |header| %>
		<div class="col-4 text-start">
			<% if header %>
				<h6><%= header %></h6>
			<% end %>
		</div>
	<% end %>
</div>
<% @banner_rows.rows.each do |row| %>
	<div class="row mb-1">
		<% row.each do |game| %>
			<div class="col-4 text-center">
				<% if game.nil? %>
					<%= render "events/components/game_placeholder_card" %>
				<% elsif game.upcoming? %>
					<%= render "events/components/game_upcoming_card", game: game %>
				<% else %>
					<%= render "events/components/game_score_card", game: game %>
				<% end %>
			</div>
		<% end %>
	</div>
<% end %>



<!-- games tables -- TODO: merge into one -->
<div class="gx-0 p-0 my-4" id="games-tab-container">
	<div class="row mb-3 tab-pane fade show active">
		<div class="col-12">

			<div class="row mb-3"> <!-- top row (upcoming games) -->
				<div class="col-12">
					<div class="card p-0">

							<table class="table table-sm fs-10 m-0">
								<tbody id="upcoming-games-table">
									<tr>
										<td colspan="9" class="bg-700 py-2">
											<h6 class="text-200 my-0">Upcoming Games</h6>
										</td>
									</tr>
									<% @event.games.upcoming.earliest_first.each do |game| %>
										<%= render "events/components/game_row_upcoming", game: game %>
									<% end %>
								</tbody>
								<tbody id="completed-games-table">
									<tr>
										<td colspan="9" class="bg-700 py-2">
											<h6 class="text-200 my-0">Completed Games</h6>
										</td>
									</tr>
									<% @event.games.completed.latest_first.each do |game| %>
											<%= render "events/components/game_row_completed", game: game %>
										<% end %>
								</tbody>
							</table>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>

	<div class="row mb-3 " >
		<div class="col-8">
			<% if @event.posts.any? %>
				<div class="card">
					<div class="card-header border-bottom">
						<h5 class="m-0 mb-2"><%= @event.posts.first.title %></h5>
						<h6 class="m-0 fs-11 text-800">
							<%= time_ago_in_words(@event.posts.first.created_at) %> ago
							by <%= @event.posts.first.user.display_name %>
						</h6>
					</div>
					<div class="card-body">
						<%= @event.posts.first.body %>
					</div>
				</div>
			<% else %>
				<div class="card">
					<div class="card-body text-muted">No posts yet.</div>
				</div>
			<% end %>
		</div>
		<div class="col-4">
			<div class="card">
				<div class="card-header border-bottom py-1"><h6 class="mb-0">Post Archive</h6></div>
				<div class="card-body py-1 px-0">
					<table class="table table-sm fs-10 m-0">
						<tbody>
							<% @event.posts.each do |post| %>
								<tr>
									<th class="fw-semi-bold text-muted">
										<a href="#" class="text-muted">
											<%= post.title %>
										</a>
									</th>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
