<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<%= content_for :title, "Squarehub Widgets Demo" %>
<%= content_for :appname, "squarehub" %>

<!-- event games strip -->
<div class="row g-3 mb-3">
	<!-- card sizes in this row will be dynamic so all components include column wrappings -->
	<%= render "welcome/components/game_card_empty", size: 3, title: "Next Game", past: false, active: false %>
	<%= render "welcome/components/game_card", size: "6", title: "Current Game", past: false, active: true %>
	<%= render "welcome/components/game_card_empty", size: 3, title: "Previous Game", past: true, active: false %>
</div>

<!-- event game list and news section -->
<div class="row g-3 mb-3">
	<div class="col-xxl-5 col-md-6">

		<!-- game list widget container -->
		<%= render 'welcome/components/flex_card', title: 'Upcoming Games' do %>
			<% 5.times do %>
				<%= render 'welcome/components/upcoming_game_list_item' %>
			<% end %>
		<% end %>
	</div><!-- end column -->


	<div class="col-xxl-7 col-md-6">
		<%= render 'welcome/components/standard_card', title: 'Latest Post' do %>
			blah blah
		<% end %>
	</div><!-- end column -->
</div><!-- end row -->

<!-- game grid and scoring -->
<div class="row g-3 mb-3">
	<div class="col"> <!-- this column fills all space unless the admin card is present -->
		<%= render 'welcome/components/standard_card', title: 'Game Grid', size: 'h5' do %>
			<%= render 'welcome/components/grid_grid' %>
		<% end %>
	</div>
	<div class="col-xxl-3 col-xl-3">
		<%= render 'welcome/components/standard_card', title: 'Tools' do %>
			...
		<% end %>
	</div>
	<!-- admins see a card to the right with useful tools -->
</div>

<div class="row g-3 mb-3">
	<div class="col-xxl-4 col-md-6">
		<%= render 'welcome/components/standard_card', title: 'Scores' do %>
			<%= render 'welcome/components/grid_scores' %>
		<% end %>
	</div>

	<div class="col-xxl-5 col-md-6">
		<%= render 'welcome/components/standard_card', title: 'Winners' do %>
			<%= render 'welcome/components/grid_winners' %>
		<% end %>
	</div>
</div>