
<div class="row my-4">
    <div class="col-4 text-left align-middle">
        <h6>
            <%= link_to @game.event, class: "btn btn-secondary btn-sm" do%>
                <span class="fas fa-chevron-left ms-1"></span>
                More Games                
            <% end %>
        </h6>
    </div>
    <div class="col-4 text-center">
        <h4 class="mb-0"><%= @game.title %></h4>
    </div>
    <div class="col-4 text-end align-middle">
        <%= link_to edit_game_path(@game), class: "btn btn-outline-primary btn-sm" do %>
            <span class="fas fa-edit me-1"></span> Edit
        <% end %>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <div class="card p-0">
            <%= render "games/components/grid_grid", game: @game %>
        </div>
    </div>   
</div>

<%= turbo_stream_from @game, "scores" %>

<div class="row mb-3">
    <div class="col-5">
        <div class="card">
            <div class="card-body p-2">
                <div id="<%= dom_id(@game, :scores) %>">
                    <%= render "games/components/grid_scores", game: @game %>
                </div>
                <div class="row mt-3">
                    <div class="col text-end">
                        <%= button_to refresh_scores_game_path(@game), method: :patch, class: "btn btn-outline-success btn-sm me-2" do %>
                            <span class="fas fa-sync-alt me-1"></span> Refresh Scores
                        <% end %>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-body p-2">
                <div id="<%= dom_id(@game, :winners) %>">
                    <%= render "games/components/grid_winners", game: @game %>
                </div>
            </div>
        </div>
    </div>
</div>