<% scores = game.scores.by_period %>
<% highlight_period ||= nil %>

<table class="winners-grid">
	<thead>
		<tr>
			<th class="winners-period"></th>
			<th class="winners-prize bg-200 py-1 fw-bold h6 fs-10">Prize</th>
			<th class="winners-team winners-away p-0 h6 fs-10">
				<div class="p-2 <%= game.away_style %>"><%= game.away_team.abbr %></div>
			</th>
			<th class="winners-team winners-home p-0 h6 fs-10">
				<div class="p-2 <%= game.home_style %>"><%= game.home_team.abbr %></div>
			</th>
			<th class="winners-winner bg-200 py-1 fw-bold h6 fs-10">Winner</th>
		</tr>
	</thead>
	<tbody>
		<%# Women's basketball: 4 quarters but only score at halves (periods 2 & 4) %>
		<%# Men's basketball: 2 halves, show both %>
		<%# Football: 4 quarters, show all %>
		<% scoring_periods = game.league.quarters_score_as_halves ? [2, 4] : (1..game.league.periods).to_a %>
		<% scoring_periods.each do |period| %>
			<% score = scores.find { |s| s.period == period } %>
			<% is_final = period == game.league.periods %>
			<tr class="<%= 'period-highlight' if period == highlight_period %>">
				<th class="winners-period p-1 h6">
					<% if is_final %>
						Final
					<% elsif game.league.quarters_score_as_halves %>
						1st Half
					<% else %>
						<%= "#{period}#{period.ordinal} #{game.league.period_term}" %>
					<% end %>
				</th>
				<td class="winners-prize p-1">
					<% if score&.prize %>
						$<%= score.prize %>
					<% else %>
						$<%= is_final ? game.final_prize : game.period_prize %>
					<% end %>
				</td>
				<td class="winners-team winners-away p-1 fs-9"><%= score&.away_total || "-" %></td>
				<td class="winners-team winners-home p-1 fs-9"><%= score&.home_total || "-" %></td>
				<td class="winners-winner p-1 text-center fs-9">
					<% if score&.winner %>
						<%= score.winner.display_name %>
					<% else %>
						&nbsp;
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
