<table class="winners-grid">
	<thead>
		<tr>
			<th class="winners-period"></th>
			<th class="winners-prize bg-200 py-1 fw-bold h6 fs-10">Prize</th>
			<th class="winners-team winners-away p-0 h6 fs-10">
				<div class="p-2 <%= game.away_style %>"><%= game.away_team.abbr %></div>
			</th>
			<th class="winners-team winners-home p-0 h6 fs-10">
				<div class="p-2 <%= game.home_style %>"><%= game.home_team.abbr %></div>
			</th>
			<th class="winners-winner bg-200 py-1 fw-bold h6 fs-10">Winner</th>
		</tr>
	</thead>
	<tbody>
		<% (1..game.league.periods).each do |period| %>
			<tr>
				<th class="winners-period p-1"><%= period %><%= period.ordinal %> <%= game.league.period_term %></th>
				<td class="winners-prize p-1">$0</d>
				<td class="winners-team winners-away p-1">0</td>
				<td class="winners-team winners-home p-1">0</td>
				<th class="winners-winner p-1">Winner</th>
			</tr>
		<% end %>
	</tbody>
</table>
