<turbo-frame id="post-content">
	<div class="card">
		<div class="card-header border-bottom">
			<div class="d-flex justify-content-between align-items-start">
				<div>
					<h5 class="m-0 mb-2"><%= post.title %></h5>
					<h6 class="m-0 fs-11 text-800">
						<%= time_ago_in_words(post.created_at) %> ago
						by <%= post.user.display_name %>
					</h6>
				</div>
				<% if defined?(admin?) && admin? %>
					<%= link_to edit_post_path(post), class: "btn btn-outline-secondary btn-sm", data: { turbo_frame: "_top" } do %>
						<span class="fas fa-edit"></span>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="card-body">
			<%= post.body %>
		</div>
	</div>
</turbo-frame>
