<div class="row mb-3">
	<div class="col-12">
		<div class="card bg-100 shadow-none border mb-0">
			<div class="card-body p-3">
				<div class="row gx-0 flex-between-center">
					<div class="col-auto">
						<h6 class="fs-10 mb-0">
							<%= link_to @event, class: "text-decoration-none text-muted mb-1 d-block" do %>
								<i class="fas fa-chevron-left"></i> Back to Event: <%= @event.title %>
							<% end %>
						</h6>
						<h4 class="text-primary fw-bold mb-0">
							New <span class="text-info fw-medium">Post</span>
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row mb-3">
	<div class="col-8">
		<div class="card">
			<div class="card-body">
				<%= render "form", post: @post %>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card">
			<div class="card-header border-bottom p-2 bg-200">
				<h6 class="m-0">Games</h6>
			</div>
			<div class="card-body p-0">
				<table class="table table-sm m-0">
					<% if @event.games.upcoming.any? %>
						<tbody>
							<tr>
								<th colspan="4" class="h6 fs-10 fw-semi-bold text-200 bg-600">Upcoming Games</th>
							</tr>
							<% @event.games.upcoming.earliest_first.each do |game| %>
								<%= render "games/components/post_game_list_item", game: game %>
							<% end %>
						</tbody>
					<% end %>

					<% if @event.games.completed.any? %>
						<tbody>
							<tr>
								<th colspan="4" class="h6 fs-10 fw-semi-bold text-200 bg-600">Completed Games</th>
							</tr>
							<% @event.games.completed.latest_first.each do |game| %>
								<%= render "games/components/post_game_list_item", game: game %>
							<% end %>
						</tbody>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>
