<% score = game.scores.order(period: :desc).first %>
<% show_score = (game.completed? || game.in_progress?) && score %>
<% colspan = show_score ? "1" : "2" %>
<tr>
	<td>
		<%# Date - don't show time for completed games %>
		<% if game.upcoming? %>
			<%= game.starts_at.in_time_zone(current_timezone).strftime("%m/%d/%Y, %-I:%M %P") %>
		<% else %>
			<%= game.starts_at.in_time_zone(current_timezone).strftime("%m/%d/%Y") %>
		<% end %>
	</td>
	<th>
		<%# format identical %>
		<span data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= game.league.name %>">
			<%= game.league.abbr %>
		</span>
	</th>
	<th>
		<%# title/link - format identical %>
		<%= link_to game do %>
			<%= game.title %>
		<% end %>
	</th>
	<td class="text-center py-2 align-middle <%= game.away_style %> h6 fw-semi-bold position-relative" style="width: 20%;" colspan="<%= colspan %>">
		<%# colspan 2 if game is upcoming %>
		<%= link_to game.away_team.display_location, game, class: "text-decoration-none stretched-link #{game.away_style}" %>
	</td>
	<% if show_score %>
		<td class="bg-700 text-200 fw-semi-bold text-center align-middle" style="width: 3%;"><%= score.away_total %></td>
	<% end %>
	<td class="bg-200 fw-semi-bold align-middle text-center" style="width: 2%;">
		<%# "vs" if game is upcoming, "-" if completed %>
		<% if game.upcoming? %>
			vs
		<% else %>
			-
		<% end %>
	</td>
	<% if show_score %>
		<td class="bg-700 text-200 fw-semi-bold text-center align-middle" style="width: 3%;"><%= score.home_total %></td>
	<% end %>
	<td class="text-center py-2 align-middle <%= game.home_style %> h6 fw-semi-bold position-relative" style="width: 20%;" colspan="<%= colspan %>">
		<%# colspan 2 if game is upcoming %>
		<%= link_to game.home_team.display_location, game, class: "text-decoration-none stretched-link #{game.home_style}" %>
	</td>
	<td class="text-end">
		<%# tv network if upcoming, link to box score if completed %>
		<% if game.upcoming? || game.in_progress? %>
			<%= game.broadcast_network %>
		<% else %>
			<%= link_to "Box Score", game.score_url, target: "_blank" %>
		<% end %>
	</td>
</tr>