<div class="card mb-3">
	<div class="card-header border-bottom p-1 text-start">
		<h6 class="m-0">
			<%= link_to game, class: "text-muted" do %>
				<%= game.title %>
				<span class="fas fa-chevron-right"></span>
			<% end %>	
		</h6>
	</div>
	<div class="card-body p-0">
		<table class="m-0" style="width: 100%;">
			<tr class="border-bottom">
				<td class="p-1 ps-2 h6 fw-semi-bold text-start <%= game.away_style %>">
					<%= game.away_team.display_location %>
				</td>
				<td class="py-1 px-2 fs-10 text-end">
					<%= game.starts_at.in_time_zone(current_timezone).strftime("%m/%d/%Y") %>
				</td>
				<td class="p-1 bg-300" style="width: 5%; text-align: right;">
					-
				</td>
			</tr>
			<tr>
				<td class="p-1 ps-2 h6 fw-semi-bold text-start <%= game.home_style %>">
					<%= game.home_team.display_location %>
				</td>
				<td class="py-1 px-2 fs-10 text-end" style="width: 10%;">
					<%= game.starts_at.in_time_zone(current_timezone).strftime("%-I:%M %P") %>
				</td>
				<td class="p-1 bg-300" style="width: 5%; text-align: right;">
					-
				</td>
			</tr>
		</table>
	</div>
</div>
